[data-drupal-selector="edit-creation"]{
  display:  flex;
}

[data-drupal-selector="edit-creation"] .form-item{
  display:  flex;
}

[data-drupal-selector="edit-creation"]  input[type="submit"]{
  margin-top: 10px;
  margin-bottom: 9px;
}