<div class="cookie-policy__content">
    {{ content }}
</div>
<div class="cookie-policy__interface">
    <button class="accept">{{ config.accept_label }}</button>
    <a href="{{ more_url }}">{{ config.more_label }}</a>
</div>